$font_family: Verdana, "Times New Roman", Serif;

#test {
    font-style: $font_family;
    color: red;
    background-color: rgb(77, 240, 45);
    margin-bottom: 25px;
}

#uwp {
    background-image: linear-gradient(to right, #00c3ff, #ffff1c);
    color: white;
}

#testImage {
    border: 2px solid black;
}

#mySliderValue {
    font-style: $font_family;
    color: rgb(15, 226, 138);
}

#myPoints {
    font-style: $font_family;
    color: rgb(42, 119, 219);
    background-color: rgb(247, 0, 255);
}

#myGit {
    margin-bottom: 5px;
}

#addressSpace {
    margin-top: 30px;
}

/*
.w75 {
    width: 75%;
}

.p5 {
    padding: 5px;
}

.mb25 {
    margin-bottom: 25px;
}

.textJustify {
    text-align: justify;
}

.inlineCenter {
    text-align: center;
}

.blockCenter {
    margin: 0 auto;
}

.small {
    font-size: 80%;
    font-weight: 400;
}
*/

.blueLinkColour {
    color: blue;
}

.listNumberInside {
    list-style-position: inside;
}

.underline {
    text-decoration: underline;
}

h1 {
    font-style: $font_family;
}